/node_modules/*
!/node_modules/@polymer
/node_modules/@polymer/*
!/node_modules/@polymer/web-animations-js

/public/*
!/public/polymer
!/public/polymer.html
!/public/fonts/
!/public/oauth/

/scripts/.build-artifacts/

npm-debug.log
/elm-stuff/
*~
